@font-face {
    font-family: 'bistroscriptregular';
    src: url('../fonts/bistroscript-webfont.eot');
    src: url('../fonts/bistroscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bistroscript-webfont.woff') format('woff'),
         url('../fonts/bistroscript-webfont.ttf') format('truetype'),
         url('../fonts/bistroscript-webfont.svg#bistroscriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
