// Imports
@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'utility';
@import 'base';
@import 'type';



// Begin Styles
h1 {
	color: $color-primary;
	@extend .brand-font;
}

h2 {
	color: $patina;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: $serif-family;
	text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
	color: $color-text-heading;
}

a {
	color: $color-text-link;
	&:hover,
	&:focus {
		color: $color-text-link-hover;
	}
	&:visited {
		color: $color-text-link-visited;
	}
}

.container {
	margin: 0 auto;
	max-width: 75em;
}

.brand-font {
	font-family: $brand-font;
}
